body, html {
  margin: 0;
  overflow: hidden;
}

#content-panel {
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    overflow-y: scroll;
}

#my-picture {
    border-radius: 15%;
    max-width: 90%;
    max-height: 20vh;
}

.border-left {
    border-left: 1px solid #ddd;
}

.picture-link {
    max-width: 20%;
    max-height: 5vh;
    padding-left: 1%;
    padding-right: 1%;
}

img:hover {

}